In [2]:
import numpy as np
import pandas as pd

In [3]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [5]:
df_vertical = pd.concat([ser1,ser2],ignore_index=True)
df_vertical

0    0
1    1
2    2
3    3
4    4
5    a
6    b
7    c
8    d
9    e
dtype: object

In [8]:
df_columns = pd.concat([ser1,ser2],axis=1)
df_columns.columns = ['values','index']
df_columns

   values index
0       0     a
1       1     b
2       2     c
3       3     d
4       4     e