In [2]:
import pandas as pd
import numpy as np

In [3]:
ser = pd.Series(np.random.randint(1,10,35))
ser

0     4
1     4
2     9
3     4
4     4
5     3
6     5
7     2
8     4
9     8
10    9
11    5
12    9
13    9
14    4
15    1
16    1
17    1
18    9
19    4
20    3
21    5
22    8
23    7
24    2
25    7
26    9
27    9
28    2
29    8
30    9
31    1
32    3
33    2
34    1
dtype: int32

Tạo một pandas Series gồm 30 giá trị ngẫu nhiên từ 1 đến 9 loại bỏ 10

In [4]:
df = pd.DataFrame(ser.values.reshape(7,5))
df

   0  1  2  3  4
0  4  4  9  4  4
1  3  5  2  4  8
2  9  5  9  9  4
3  1  1  1  9  4
4  3  5  8  7  2
5  7  9  9  2  8
6  9  1  3  2  1